.globalFooter {
  padding: 0 16px;
  margin: 48px 0 24px 0;
  text-align: center;
}

.globalFooter .links {
  margin-bottom: 8px;
}
.globalFooter .links a {
  /* color: @text-color-secondary; */
  transition: all 0.3s;
}
.globalFooter .links a:not(:last-child) {
  margin-right: 40px;
}

.globalFooter .links a:hover {
  /* color: @text-color; */
}

.copyright {
  /* color: @text-color-secondary;
  font-size: @font-size-base; */
}
