.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
}
.menu:hover {
    background: rgb(89, 153, 254);
}
.menu--active {
    background: rgb(69, 141, 254);
    color: rgb(255, 255, 255);
}
.menu__icon {
    font-size: 22px;
}
.menu__title {
    font-size: 12px;
    font-weight: lighter;
}
/** 重置 a 样式 */
.menu__link {
    /* text-decoration-line: none; */
    text-decoration: none;
}
.menu__link:hover {
    color: rgba(255, 255, 255, .9);
}
.menu__link:focus {
    text-decoration: none;
}
.menu__link:active {
    text-decoration: none;
}
.menu__link:visited {
    text-decoration: none;
}