.layout__container {
    display: flex;
}
.layout__sider {
    float: left;
    width: 76px;
    height: 100vh;
    background: rgb(48, 128, 254);
    -webkit-app-region: drag;
}
.layout__header {
    padding: 12px 24px;
    box-shadow: 0 1px 4px #ccc;
    -webkit-app-region: drag;
}

.create-project {
    margin-right: 10px;
}
.projects {
    height: calc(100vh - 60px);
    overflow-y: auto;
}